.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.250625,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250625,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250625,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.199895px;}
.ls4{letter-spacing:0.768828px;}
.ls3{letter-spacing:0.896966px;}
.ls2{letter-spacing:1.281380px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-160.287888px;}
._0{width:1.024463px;}
._3{width:35.143128px;}
._1{width:144.719121px;}
.fc3{color:rgb(162,164,167);}
.fc1{color:rgb(238,238,238);}
.fc2{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs8{font-size:7.688280px;}
.fs6{font-size:8.072694px;}
.fs1{font-size:8.328970px;}
.fs7{font-size:8.969660px;}
.fs4{font-size:11.532420px;}
.fs0{font-size:12.813800px;}
.fs5{font-size:15.376560px;}
.fs3{font-size:17.939320px;}
.fs2{font-size:30.753120px;}
.y0{bottom:0.000000px;}
.y33{bottom:29.334568px;}
.y32{bottom:33.178068px;}
.y34{bottom:40.187809px;}
.y1a{bottom:83.334276px;}
.y14{bottom:99.154754px;}
.y13{bottom:99.155411px;}
.y19{bottom:104.433015px;}
.y16{bottom:115.637577px;}
.y15{bottom:119.642210px;}
.y18{bottom:127.204338px;}
.y17{bottom:136.704426px;}
.y3a{bottom:177.032738px;}
.y35{bottom:191.625093px;}
.y39{bottom:196.903418px;}
.y3d{bottom:206.880082px;}
.y3c{bottom:210.884715px;}
.y3b{bottom:214.889348px;}
.y38{bottom:223.783086px;}
.y37{bottom:233.716344px;}
.y36{bottom:243.215374px;}
.y31{bottom:287.456300px;}
.y2a{bottom:303.276858px;}
.y30{bottom:308.555023px;}
.y2d{bottom:318.637721px;}
.y2c{bottom:322.642354px;}
.y2b{bottom:326.646987px;}
.y2f{bottom:334.209371px;}
.y2e{bottom:343.706319px;}
.y29{bottom:393.801070px;}
.y23{bottom:410.982934px;}
.y5{bottom:413.240405px;}
.y28{bottom:416.261258px;}
.y25{bottom:426.824795px;}
.y24{bottom:430.829428px;}
.y27{bottom:438.391652px;}
.y26{bottom:447.891643px;}
.y22{bottom:494.766606px;}
.y1b{bottom:511.228975px;}
.y21{bottom:516.507140px;}
.y1e{bottom:528.431822px;}
.y1d{bottom:532.436455px;}
.y1c{bottom:536.441088px;}
.y20{bottom:544.003152px;}
.y1f{bottom:553.500420px;}
.y2{bottom:554.640047px;}
.ye{bottom:603.633131px;}
.yd{bottom:610.255623px;}
.yc{bottom:616.434117px;}
.y8{bottom:625.967104px;}
.y7{bottom:629.971737px;}
.y6{bottom:633.976370px;}
.yb{bottom:643.139038px;}
.ya{bottom:653.072295px;}
.y9{bottom:662.571005px;}
.yf{bottom:694.663327px;}
.y12{bottom:709.644261px;}
.y11{bottom:713.648894px;}
.y10{bottom:717.653527px;}
.y3{bottom:725.170422px;}
.y1{bottom:773.199748px;}
.y4{bottom:775.213597px;}
.y3e{bottom:787.675018px;}
.ha{height:5.882585px;}
.h8{height:6.176715px;}
.h2{height:6.372801px;}
.h9{height:6.863016px;}
.h1{height:8.533991px;}
.h6{height:8.823878px;}
.h4{height:9.804309px;}
.h7{height:11.765171px;}
.h5{height:13.726032px;}
.h3{height:23.530341px;}
.h0{height:792.000000px;}
.w1{width:240.000000px;}
.w0{width:612.000000px;}
.x6{left:28.991222px;}
.x5{left:34.017884px;}
.xa{left:43.349422px;}
.xb{left:60.135308px;}
.x3{left:77.006453px;}
.x8{left:80.811928px;}
.xc{left:91.530687px;}
.x7{left:103.058799px;}
.x9{left:112.742315px;}
.x4{left:131.462524px;}
.x2{left:172.157567px;}
.x0{left:186.000000px;}
.x1{left:198.853678px;}
.xd{left:210.787010px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.266527pt;}
.ls4{letter-spacing:1.025104pt;}
.ls3{letter-spacing:1.195955pt;}
.ls2{letter-spacing:1.708507pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-213.717184pt;}
._0{width:1.365951pt;}
._3{width:46.857504pt;}
._1{width:192.958828pt;}
.fs8{font-size:10.251040pt;}
.fs6{font-size:10.763592pt;}
.fs1{font-size:11.105293pt;}
.fs7{font-size:11.959547pt;}
.fs4{font-size:15.376560pt;}
.fs0{font-size:17.085067pt;}
.fs5{font-size:20.502080pt;}
.fs3{font-size:23.919093pt;}
.fs2{font-size:41.004160pt;}
.y0{bottom:0.000000pt;}
.y33{bottom:39.112758pt;}
.y32{bottom:44.237423pt;}
.y34{bottom:53.583745pt;}
.y1a{bottom:111.112368pt;}
.y14{bottom:132.206339pt;}
.y13{bottom:132.207214pt;}
.y19{bottom:139.244019pt;}
.y16{bottom:154.183437pt;}
.y15{bottom:159.522947pt;}
.y18{bottom:169.605785pt;}
.y17{bottom:182.272568pt;}
.y3a{bottom:236.043650pt;}
.y35{bottom:255.500124pt;}
.y39{bottom:262.537890pt;}
.y3d{bottom:275.840110pt;}
.y3c{bottom:281.179620pt;}
.y3b{bottom:286.519131pt;}
.y38{bottom:298.377448pt;}
.y37{bottom:311.621792pt;}
.y36{bottom:324.287166pt;}
.y31{bottom:383.275067pt;}
.y2a{bottom:404.369144pt;}
.y30{bottom:411.406697pt;}
.y2d{bottom:424.850295pt;}
.y2c{bottom:430.189806pt;}
.y2b{bottom:435.529316pt;}
.y2f{bottom:445.612495pt;}
.y2e{bottom:458.275092pt;}
.y29{bottom:525.068093pt;}
.y23{bottom:547.977245pt;}
.y5{bottom:550.987207pt;}
.y28{bottom:555.015011pt;}
.y25{bottom:569.099727pt;}
.y24{bottom:574.439237pt;}
.y27{bottom:584.522203pt;}
.y26{bottom:597.188858pt;}
.y22{bottom:659.688808pt;}
.y1b{bottom:681.638634pt;}
.y21{bottom:688.676186pt;}
.y1e{bottom:704.575763pt;}
.y1d{bottom:709.915273pt;}
.y1c{bottom:715.254784pt;}
.y20{bottom:725.337536pt;}
.y1f{bottom:738.000560pt;}
.y2{bottom:739.520063pt;}
.ye{bottom:804.844175pt;}
.yd{bottom:813.674164pt;}
.yc{bottom:821.912156pt;}
.y8{bottom:834.622805pt;}
.y7{bottom:839.962316pt;}
.y6{bottom:845.301826pt;}
.yb{bottom:857.518717pt;}
.ya{bottom:870.763060pt;}
.y9{bottom:883.428007pt;}
.yf{bottom:926.217770pt;}
.y12{bottom:946.192348pt;}
.y11{bottom:951.531859pt;}
.y10{bottom:956.871369pt;}
.y3{bottom:966.893896pt;}
.y1{bottom:1030.932998pt;}
.y4{bottom:1033.618129pt;}
.y3e{bottom:1050.233357pt;}
.ha{height:7.843447pt;}
.h8{height:8.235619pt;}
.h2{height:8.497068pt;}
.h9{height:9.150688pt;}
.h1{height:11.378654pt;}
.h6{height:11.765171pt;}
.h4{height:13.072412pt;}
.h7{height:15.686894pt;}
.h5{height:18.301377pt;}
.h3{height:31.373788pt;}
.h0{height:1056.000000pt;}
.w1{width:320.000000pt;}
.w0{width:816.000000pt;}
.x6{left:38.654963pt;}
.x5{left:45.357179pt;}
.xa{left:57.799229pt;}
.xb{left:80.180410pt;}
.x3{left:102.675271pt;}
.x8{left:107.749237pt;}
.xc{left:122.040916pt;}
.x7{left:137.411731pt;}
.x9{left:150.323087pt;}
.x4{left:175.283366pt;}
.x2{left:229.543423pt;}
.x0{left:248.000000pt;}
.x1{left:265.138238pt;}
.xd{left:281.049347pt;}
}
